@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpecialElite';
  src: url('/fonts/SpecialElite-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-darkgreen: #59A76B;
  --font-specialelite: 'SpecialElite', sans-serif;
}

html {
  font-size: 30px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pompiere), Arial, Helvetica, sans-serif;
}

.font-glitch-important {
  font-family: var(--font-glitch) !important;
}

.text-justified {
  text-align: justify;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
