@tailwind base;
@tailwind components;
@tailwind utilities;
@import "aos/dist/aos.css";

@font-face {
  font-family: 'SpecialElite';
  src: url('/fonts/SpecialElite-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'primer';
  src: url('/fonts/primer.otf') format('opentype');
  /* font-weight: normal;
  font-style: normal; */
}

@font-face {
  font-family: 'Cartoonist';
  src: url('/fonts/Cartoonist.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caramella';
  src: url('/fonts/Caramella.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glitch';
  src: url('/fonts/Glitch.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff') format('truetype');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-darkgreen: #59A76B;
  --font-specialelite: 'SpecialElite', sans-serif;
  --font-glitch: 'Glitch', sans-serif;
  --font-geist: 'Geist', sans-serif;
  --font-Cartoonist: 'Cartoonist', sans-serif;
  --font-caramella: 'Caramella', sans-serif;
  --font-primer: 'primer', sans-serif;
}

html {
  font-size: 30px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pompiere), Arial, Helvetica, sans-serif;

}

.font-glitch-important {
  font-family: var(--font-glitch) !important;
}

.text-justified {
  text-align: justify;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .zoom-out {
  transform: scale(0.8);
  transform-origin: top left;
  width: 125%;
} */

.scroll-section {
  position: relative;
}
