@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-darkgreen: #59A76B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #0a0a0a;
    --background: #EAE4E4;
  }
}

html {
  font-size: 30px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pompiere), Arial, Helvetica, sans-serif;
}

.font-glitch-important {
  font-family: var(--font-glitch) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
